@page
@model Video_Leasing_Management.Pages.Admin.records.IndexModel

@{
    ViewData["Title"] = "Index";
    string Color = "font-weight-normal";
}

<h1>All Records</h1>

<table class="table table-light table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Records[0].RecordsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Records[0].User)
            </th>
            <th>
                Movie Id |
                @Html.DisplayNameFor(model => model.Records[0].Movies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Records[0].TakenDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Records[0].ReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Records)
        {
            double Defaulter = (item.ReturnDate.Date - DateTime.Now.Date).TotalDays;
            if (Defaulter < 0)
            {
                Color = "font-weight-normal table-warning";
            }
            <tr class="@Color">
                <td>
                    @Html.DisplayFor(modelItem => item.RecordsId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movies.MoviesId) |
                    @Html.DisplayFor(modelItem => item.Movies.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TakenDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    <a asp-page="./Details" class="btn btn-primary btn-sm" asp-route-id="@item.RecordsId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
