@page
@model Video_Leasing_Management.Pages.Admin.movies.IndexModel

@{
    ViewData["Title"] = "All Movies";
}

<h1>All Movies</h1>
<div class="mb-2">
    <a asp-page="Create" class="btn btn-primary">Add Movie</a>
</div>

<hr class="my-4" />

<table class="table table-bordered table-light table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].MoviesId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].ReturnDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Fine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MoviesId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fine)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.MoviesId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
